:root {
  --bg-logo: #0747A6;
  --bg-sidebar: #0747A6;
  --bg-header-strip: #F4F5F7;
  --bg-content-area: #FFFFFF;
  --font-color-dark1: #172B4D;
  --font-color-dark2: #0052CC;
  --font-color-dark3: #707070;
  --font-color-light1: #FFFFFF;
  --font-color-light2: #DEEBFF;
  --font-color-light3: #B3D4FF;
  
}

@font-face {
	font-family:'Raleway';
	src:url('../../bootstrap-3.3.7/fonts/raleway_300.woff') format('woff');
	font-weight:300;
	font-style:normal;
}
@font-face {
	font-family:'Raleway';
	src:url('../../bootstrap-3.3.7/fonts/raleway_500.woff') format('woff');
	font-weight:500;
	font-style:normal;
}
@font-face {
	font-family:'Raleway';
	src:url('../../bootstrap-3.3.7/fonts/raleway_700.woff') format('woff');
	font-weight:bold;
	font-style:normal;
}

@font-face {
	font-family:'Material-Design-Iconic-Font';
	src:url('../fonts/Material-Design-Iconic-Font.woff2?v=2') format('woff2'),
	url('../fonts/Material-Design-Iconic-Font.woff?v=2') format('woff'),
	url('../fonts/Material-Design-Iconic-Font.ttf?v=2') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'Material-Design-Iconic-Font';
	src:url('../fonts/Material-Design-Iconic-Font.woff2?v=2') format('woff2'),
	url('../fonts/Material-Design-Iconic-Font.woff?v=2') format('woff'),
	url('../fonts/Material-Design-Iconic-Font.ttf?v=2') format('truetype');
	font-weight:bold;
	font-style:normal;
}

@font-face {
	font-family: 'icons';
	src:url('../fonts/icons.ttf?v=6') format('truetype'),
	url('../fonts/icons.woff?v=6') format('woff'),
	url('../fonts/icons.svg?v=6') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: var(--bg-sidebar);
	font-family:"Raleway", Helvetica, Arial, sans-serif;
	color:#616366;
	font-size:14px;
	font-weight:300;
}
.p-left{padding-left:40px;}
.p-right{padding-right:40px;}
.p-top{padding-top:25px;}
.p-bottom{padding-bottom:25px;}

.logo{
	padding-top:13px;
	padding-bottom:13px;
	padding-left:25px;
	color:var(--font-color-light1);
	font-weight:700;
	font-size:24px; 
	/*box-shadow:0 1px 1px rgba(0,0,0,.3);*/
	background-color: var(--bg-logo);

}
.container{width:100%;padding:0px;}

.content_area {
    overflow: hidden;
	background-color: var(--bg-content-area);
	min-height:800px;
}

.header{
	/*background-color: var(--bg-header-strip);*/
	padding-top:14px;
	padding-bottom:14px;
	/*height:70px;*/
}
.heading-left h3{
	padding:0px;
	margin:0px;
}
.heading-right{
padding-top:15px;
padding-bottom:17px;

}


.sidebar_nav {
    float: left;
    width: 250px;
	background-color: var(--bg-sidebar);
	padding-left:15px;
	padding-right:15px;
}
.list-group-item{background:none;color:var(--font-color-light2); border: 1px solid #0747A6;
    border-radius: 5px;cursor:pointer;
}

.list-group-item  i.glyphicon{font-size:20px;top:3px;}
.list-group-label{color:var(--font-color-light3);padding-left:15px; margin-top:20px;margin-bottom:10px;}
a.list-group-item{color:var(--font-color-light2);}
a.list-group-item:hover{background-color:#07357C;color:var(--font-color-light2);}
a.list-group-item:last-child{border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
a.list-group-item:first-child{border-top-right-radius:5px;border-top-left-radius:5px;}

@media screen and (max-width: 767px) {
	.sidebar_nav{
		position: fixed;
		top: 0px;
		left:-250px;
		z-index:99;
	}	
}


/*DROPDOWN MENU*/
.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 200px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #0052CC;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 200px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #0052CC;
  border-left: 6px solid transparent;
  content: '';
}
.dropdown-menu{
	border:1px solid #e3e3e3;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	padding-top:0px;
	
}

/*BUTTONS*/
input[type=submit], input[type=button], .button, a.button{
    display: inline-block;
    vertical-align: middle;
    padding: 12px 20px;
    margin: 0px;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #ffffff;
    background-color: #0052CC;
    border-radius: 3px;
    border: none;
    -webkit-appearance: none;
    transition: all ease-in .1s;
	}


/*TAB NAVIGATION*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{border:none; border-bottom:2px solid #337AB7}
nav-tabs>li a:hover{background-color:#FFF}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{background-color:#FFF;color:#0747A6}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{background-color:#FFF;color:#0747A6}
.btn-default.hover{background-color:red}
.nav-tabs>li>a{font-size:14px;}
.btn{font-weight:300}

/* HOME PAGE ELEMENTS*/
.well{background-color:#FFF;box-shadow:none}
.well h2{padding:0px;margin:0px;font-size:20px; color:#0052CC}


