<ul class="nav navbar-nav navbar-left sp-navbar-nav">
   <li class="dropdown open" role="navigation">
      <a href="#" class="dropdown-toggle user-dropdown " data-toggle="dropdown" aria-expanded="true" data-target="#bs-example-navbar-collapse-1">
      Welcome, Naren Vadher <span class="caret"></span>
      </a>
      <ul id="user-dropdown" class="dropdown-menu dropdown-menu-left user-dropdown-menu" role="menu">
         <li role="presentation" class="dropdown-header username-header">
            <div class="user-data">
               <strong>Magento unit1</strong>
               magento.unit1@gmail.com                                                                                            
            </div>
         </li>
         <li class="account-stat dropdown-header">
            <a href="/emailservice/billing/tariffs/" class="section-info-link " data-placement="bottom" data-html="true" data-toggle="tooltip" data-original-title="Quota reset: August 14, 2017">Free  <br class="hidden-xs"><strong>2 500</strong></a>                        
         </li>
         <li class="account-stat dropdown-header account-stat-balance">
            <a href="/billing/funds/">
            Balance                                    <strong>$0</strong>
            <small class="color-info pull-right-md">Add funds</small>
            </a>
         </li>
         <li class="divider"></li>
         <li>
            <a href="/orders/" class="clearfix">
               <div class="pull-left "><span class="sp-icon icon-safe"></span> Payments</div>
            </a>
         </li>
         <li class="">
            <a href="/settings/" class="">
            <span class="sp-icon icon-ap-settings"></span>
            <span>Account settings</span>
            </a>
         </li>
         <li class="divider"></li>
         <li class="">
            <a href="/support/" class="">
            <span class="sp-icon icon-support"></span>
            <span>Technical support</span>
            </a>
         </li>
         <li class="">
            <a href="/emailservice/referrals/" class="">
            <span class="sp-icon icon-ap-gift"></span>
            <span>Refer a Friend</span>
            </a>
         </li>
         <li class="divider"></li>
         <li>
            <a href="/logout/"><span class="sp-icon icon-power"></span> Log out</a>
         </li>
      </ul>
   </li>
</ul>