<div class="row dtable index-stat">
	<div class="col-sm-3 col-xs-6">
		<div class="well text-center">
			<h2 class="color-active">4</h2>
			<span>active subscribers</span>
		</div>
	</div>
	<div class="col-sm-3 col-xs-6">
		<div class="well text-center">
			<h2 class="color-primary">0</h2>
			<span> campaigns</span>
		</div>
	</div>
	<div class="col-sm-3 col-xs-6">
		<div class="well text-center">
			<h2 class="color-info">0</h2>
			<span><strong>0%</strong> delivered</span>
		</div>
	</div>
	<div class="col-sm-3 col-xs-6">
		<div class="well text-center">
			<h2 class="color-success">0</h2>
			<span><strong>0%</strong> clicks</span>
		</div>
	</div>
</div>